body {
    display: flex;
    min-height: 100vh;

    flex-direction: column;
    font-family: 'Roboto', sans-serif;
    font-size: 10px;
  }
  h1 {
    text-transform: uppercase;
  }
  .container {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* Теперь 2 колонки вместо 4 */
    gap: 20px; /* Расстояние между блоками */
  }
  
  .event {
    display: flex;
    flex-direction: column;
    padding: 10px;
    font-size: 1rem;
    margin: 10px;
    border: 1px solid #ccc; 
    border-radius: 5px; 
  }

  .register {
      display: flex;
      justify-content: space-between; 
      margin-top: 20px;
  }

  .participant {
    padding: 10px; /* Увеличение внутреннего отступа */
    border: 1px solid #ccc;
    font-size: 1rem; /* Увеличение текста */
  }



  .form-info {
    padding: 10px; 
    font-size: 1.5rem;
    margin-bottom: 15px; /* Відступ між блоками */
  }

  .form-info.input input {
    width: 300px;  /* Однакова ширина для всіх інпутів */
    height: 50px;  /* Однакова висота */
    box-sizing: border-box;  /* Враховує padding у розміри інпуту */
  }


  .form-info label {
    display: block; /* Встановлюємо label як блочний елемент */
    margin-bottom: 5px; /* Додаємо відступ знизу */
  }

  .radio-group {
    display: flex;
    gap: 10px; /* Проміжок між елементами */
    align-items: center;
}

.radio-group input{
  box-sizing: border-box; 
}

.radio-group label {
    display: flex;
    align-items: center;
    margin-right: 15px;
}

.form-button {
  display: flex;

}

.form-button input {
  text-transform: uppercase;
  padding: 10px 15px;
  cursor: pointer;
}

.form-button input:hover {
  background-color: rgba(0, 0, 0, 0.6);
}

.pagination {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 20px 0;
}

.pagination a {
  padding: 10px;
  margin: 0 5px;
  text-decoration: none;
  color: blue; /* Колір тексту для цифр */
}

.pagination a.arrow {
  font-weight: bold; /* Для виділення стрілок */
  color: blue; /* Колір для стрілок */
}

.pagination a.active {
  font-weight: bold; /* Виділити активну сторінку */
  color: darkblue; /* Колір для активної сторінки */
}

.pagination a:hover {
  text-decoration: underline; /* Підкреслення при наведенні */
}

.register a {
  color: blue; /* Задає колір тексту посилань */
  text-decoration: none; /* Прибирає підкреслення */
}

/* Додатковий стиль при наведенні курсора */
.register a:hover {
  text-decoration: underline; /* Показує підкреслення при наведенні курсора (за бажанням) */
}